#
# Credits: silviu20092
#

[worldserver]

########################################
# Item upgrade module configuration
########################################
#
#    ItemUpgrade.Enable
#        Description: Enable the module or not. If the module is toggled off, items that were previously upgraded will lose their upgrade bonus.
#                     Re-enabling the module will restore the already upgraded item bonuses.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ItemUpgrade.Enable = 1

#
#    ItemUpgrade.AllowedStats
#        Description: Stats that are allowed to be upgraded. These correspond to the ItemModType enum from ItemTemplate.h
#                     For example, to allow "Attack power" to be upgraded, there is ITEM_MOD_ATTACK_POWER = 38 in the enum,
#                     so just add it to the list of allowed stats. Values are separated by ,
#                     Items that were upgraded with a certain stat will LOSE their upgrade bonus if you remove the stat from
#                     allowed list. If you re-add the stat, the items will GAIN back their upgrade bonus for that stat.
#        Default:     3,4,5,6,7,32,36,45
#

ItemUpgrade.AllowedStats = 3,4,5,6,7,32,36,45

#
#    ItemUpgrade.SendUpgradedItemsPackets
#        Description: Whether to send SMSG_ITEM_QUERY_SINGLE_RESPONSE for upgraded items. This will ensure that owner will see the stats correctly
#                     when reading item description. ONLY the owner will see the stats though and this DOES NOT work for items that have random
#                     properties (stats that are random after acquiring the item, such as "of the Bear" or "of Intellect" items). The limitation
#                     is due to WOTLK client nature and is not possible to be solved.
#                     THIS ONLY AFFECTS VISUALS, UPGRADED STATS WILL BE THERE NONETHELESS!
#        Default:     0 - Disabled
#                     1 - Enabled
#

ItemUpgrade.SendUpgradedItemsPackets = 1

#
#    ItemUpgrade.AllowUpgradesPurge
#        Description: Allows the players to purge upgrades from their items.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ItemUpgrade.AllowUpgradesPurge = 1

#
#    ItemUpgrade.UpgradePurgeToken
#        Description: Give the player a token (item) when purging an upgrade. This is just an item entry, can be anything. Only active when
#                     ItemUpgrade.AllowUpgradesPurge = 1
#        Default:     0 - No token
#                     Item Entry - the entry of token
#

ItemUpgrade.UpgradePurgeToken = 0

#
#    ItemUpgrade.UpgradePurgeTokenCount
#        Description: How many ItemUpgrade.UpgradePurgeToken to give when players purge an upgrade. Only active when ItemUpgrade.AllowUpgradesPurge = 1
#                     and ItemUpgrade.UpgradePurgeToken is a valid item entry
#        Default:     0 - No effect
#                     1+ - count
#

ItemUpgrade.UpgradePurgeTokenCount = 0

#
#    ItemUpgrade.RefundAllOnPurge
#        Description: Refund all items/gold/honor/arena when purging that were used to upgrade the item. EVERYTHING is refunded, meaning if the item
#                     has rank 3 stamina for example, it will refund everything from rank 1 to 3. Only active when
#                     ItemUpgrade.AllowUpgradesPurge = 1
#        Default:     1 - Refund everything that was used to upgrade the item
#

ItemUpgrade.RefundAllOnPurge = 1

#
#    ItemUpgrade.RandomUpgradesOnLoot
#        Description: Whether looted items (including from party loot, quest items) can be automatically upgraded. Titanforging-like system.
#        Default:     0 - No
#                     1 - Yes, automatic item upgrades enabled
#

ItemUpgrade.RandomUpgradesOnLoot = 0

#
#    ItemUpgrade.RandomUpgradesBroadcastLoginMsg
#        Description: Let players know that random item upgrades are ON via a message that will be sent when player logs in.
#                     Only has effect when ItemUpgrade.RandomUpgradesOnLoot = 1. Just set to "" (double quotes) if you don't want to broadcast anything.
#        Default:     |cffeb891a[ITEM UPGRADES SYSTEM]:|r Random item upgrades are active. You have a chance to gain stat upgrades on loot for eligible items.
#

ItemUpgrade.RandomUpgradesBroadcastLoginMsg = |cffeb891a[ITEM UPGRADES SYSTEM]:|r Random item upgrades are active. You have a chance to gain stat upgrades on loot for eligible items.

#
#    ItemUpgrade.RandomUpgradeChance
#        Description: Automatic upgrade chance, only has effect when ItemUpgrade.RandomUpgradesOnLoot = 1. Must be > 0.
#        Default:     2 - 2% chance for items to be automatically upgraded when looted
#

ItemUpgrade.RandomUpgradeChance = 2

#
#    ItemUpgrade.RandomUpgradeMaxStatCount
#        Description: How many stats can be automatically upgraded. This will always be a roll between 1 and the value that you choose here. So if
#                     you choose 4 for example, a value between 1 and 4 will be rolled. If 3 is rolled, then 3 stats will be upgraded up to ItemUpgrade.RandomUpgradeMaxRank.
#                     The chosen stats are also random. If an item has LESS stats than the rolled value, then ALL stats will be upgraded up to ItemUpgrade.RandomUpgradeMaxRank.
#                     Choose a value between 1 and 10.
#        Default:     2 - maximum 2 stats will be upgraded (so always 1 or 2 stats)
#

ItemUpgrade.RandomUpgradeMaxStatCount = 2

#
#    ItemUpgrade.RandomUpgradeMaxRank
#        Description: Maximum upgrade rank that can be chosen. This will always be a roll between 1 and the value that you choose here. So if
#                     you choose 3 for example, a value between 1 and 3 will be rolled. If 2 is rolled, then the stat will be upgraded to RANK 2.
#                     If there is no RANK n, then RANK n-1 is chosen, if RANK n-1 is still not available, then the next available rank is searched
#                     until found.
#        Default:     3 - each stat can go up to RANK 3
#

ItemUpgrade.RandomUpgradeMaxRank = 3

#
#    ItemUpgrade.RandomUpgradeWhenBuying
#        Description: Whether items that are bought from vendors can be randomly upgraded
#        Default:     0 - don't randomly upgrade bought items
#

ItemUpgrade.RandomUpgradeWhenBuying = 0

#
#    ItemUpgrade.RandomUpgradeWhenLooting
#        Description: Whether items that are looted can be randomly upgraded
#        Default:     1 - randomly upgrade looted items
#

ItemUpgrade.RandomUpgradeWhenLooting = 1

#
#    ItemUpgrade.RandomUpgradeWhenWinning
#        Description: Whether items that are won by Need/Greel rolls in raid/party can be randomly upgraded
#        Default:     1 - randomly upgrade won items
#

ItemUpgrade.RandomUpgradeWhenWinning = 1

#
#    ItemUpgrade.RandomUpgradeOnQuestReward
#        Description: Whether quest rewarded items can be randomly upgraded
#        Default:     1 - randomly upgrade quest rewarded items
#

ItemUpgrade.RandomUpgradeOnQuestReward = 1

#
#    ItemUpgrade.RandomUpgradeWhenCrafting
#        Description: Whether crafted items can be randomly upgraded
#        Default:     1 - randomly upgrade crafted items
#

ItemUpgrade.RandomUpgradeWhenCrafting = 1
